.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  border-bottom: 1px solid var(--badges);
  background-color: var(--white);

  transition: transform 250ms ease;
}

.headerHidden {
  transform: translateY(-100%);
}

.headerVisible {
  transform: translateY(0);
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  display: flex;
  list-style-type: none;
  gap: 32px;
}

.navigation li a:hover {
  color: var(--button-hover);
}

.active {
  color: var(--button);
  text-decoration: underline;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.li {
}

.link {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms ease;
}
