.card {
  border-radius: 16px;
  padding: 16px;
  width: 276px;
  /* height: 464px; */
  background: var(--white);
}

.image {
  border-radius: 14px;
  width: 244px;
  height: 268px;
  object-fit: cover;
  object-position: center;
}

.titleContainer {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  justify-content: space-between;

  margin-top: 16px;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.model {
  color: var(--button);
}

.price {
  margin-left: 16px;
}

.meta {
  border-radius: 8px;
  padding: 8px;
  width: 244px;
  height: 52px;
  background: var(--bg);

  font-weight: 400;
  font-size: 12px;
  line-height: 133%;

  margin-top: 8px;

  overflow-y: auto;
}

.metaLine {
  display: flex;
  flex-wrap: wrap;
}

.metaLine span:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: var(--gray-light);
  margin: 0 6px;
  vertical-align: middle;
}

.button {
  display: flex;
  border-radius: 12px;
  padding: 12px 81px;
  background-color: var(--button);

  transition: background-color 250ms ease;

  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  margin-top: 24px;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}
